label,
.label {
  position: relative;
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

label.sm {
  font-size: 0.6rem;
}

label.lg {
  font-size: 0.8rem;
}

label.disabled {
  opacity: 0.5;
}

label.cap,
.label.cap {
  text-transform: uppercase;
}

input.uppercase {
  text-transform: uppercase;
}

.label-info {
  font-size: 0.65rem;
  opacity: 0.7;
}

label.radio {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 0 !important;
}

label.required::after {
  content: '\ff0a';
  font-size: inherit;
  color: red;
}

.form-check-input,
input[type='radio'],
input[type='checkbox'] {
  border: 1px solid var(--theme-border);
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.form-control,
.form-select {
  background: var(--theme-bg) !important;
  border: 1pt solid var(--theme-border);
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px;
  padding: 0.35rem 0.6rem;
}

.form-control.lg {
  font-size: 0.9rem;
  padding: 0.4rem 0.5rem;
}

.form-control.sm {
  font-size: 0.75rem;
  padding: 0.35rem 0.5rem;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--theme-link);
  box-shadow: none;
  outline: none;
}

.form-control.main,
.form-select.main {
  font-weight: 600;
  letter-spacing: 1px;
}

.form-control.disabled,
.form-select.disabled {
  background: #fafafa;
  border: 1px solid #eee;
  pointer-events: none;
}

.form-control[type='file'] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 10px;
}

.form-select {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 30px;
}

input::placeholder {
  color: #0004 !important;
}

.input-row {
  position: relative;
}

.input-prefix {
  position: relative;
}

.input-prefix .prefix {
  position: absolute;
  top: 50%;
  left: 7px;
  font-size: 0.75rem;
  transform: translateY(-50%);
}

.input-error {
  display: none;
  width: 100%;
  color: #e31000;
  border-radius: 0;
  font-size: 0.75rem;
  margin-top: 2px;
  z-index: 1;
}

.input-error p {
  padding: 3px 0;
  margin: 0;
}

input.ng-dirty.ng-invalid + .input-error,
select.ng-dirty.ng-invalid + .input-error,
.ng-dirty.ng-invalid + .input-error,
.ng-touched.ng-invalid + .input-error {
  display: block;
}

.input-prefix:has(.ng-dirty.ng-invalid) + .input-error {
  display: block;
}

.ng-invalid,
.base-form-field.ng-invalid select,
.base-form-field.ng-invalid input {
  border-color: #f44336;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-control.filter,
.form-select.filter {
  border: 1pt solid #ddd;
  border-radius: 6px;
  padding: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-control.filter:focus,
.form-select.filter:focus {
  border-color: #aaa;
}

.btn-filters {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
  padding: 5px 8px;
  font-size: 0.75rem;
  border: 1px solid #999;
  position: relative;
  overflow: visible;
}

.btn-filters .filter-count {
  font-size: 0.6rem;
  font-weight: 500;
  position: absolute;
  right: -9px;
  top: -8px;
  background: var(--theme-color);
  color: #fff;
  border-radius: 10px;
  min-width: 18px;
  padding: 1px;
}

.btn-filters.active {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.quick-filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-item {
  flex: 1;
}

.quick-filters select,
.quick-filters input,
.filter-item select,
.filter-item input {
  font-size: 0.75rem;
  padding: 5px 5px;
  border-radius: 3px;
  color: #555;
  outline: none !important;
  border: 1px solid #999;
  max-width: 120px;
}

.quick-filters > div,
.filter-item {
  position: relative;
}

.quick-filters label,
.filter-item label,
.item-searchby select.searchby {
  color: #999;
  font-size: 0.65rem;
  position: absolute;
  top: -6px;
  left: 4px;
  background: #fff;
  padding: 0 5px;
  line-height: 1;
  margin: 0;
  z-index: 1;
}

.quick-filters > div.active label,
.filter-item.active label {
  color: var(--theme-color);
}

.quick-filters > div.active select,
.quick-filters > div.active input,
.filter-item.active select,
.filter-item.active input,
.quick-filters select.active,
.quick-filters input.active {
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.filters-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters-box select,
.filters-box input {
  font-size: 0.75rem;
  background: #f5f5f5;
  padding: 5px 8px;
  border-radius: 4px;
  color: #555;
  outline: none !important;
  border: 1px solid #ddd;
}

.filters-box select.active,
.filters-box input.active {
  background: #e4f1ff;
  color: var(--theme-color);
  border: 1px solid #82b3ec;
}

ul.filters-category {
  border-right: 1px solid #ddd;
}

ul.filters-category li {
  padding: 0.6rem 1.2rem;
  border-bottom: 1px solid #ddd;
  font-size: 0.9rem;
  cursor: pointer;
  color: #777;
}

ul.filters-category li:last-child {
  border: 0;
}

ul.filters-category li.active {
  background: #f5f5f5;
  font-weight: 500;
}

.filters-input-box {
  min-height: 30vh;
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 1rem;
}

.filters-input-box input,
.filters-input-box select {
  border: 1px solid #aaa;
}

.filters-input-box h4 {
  font-size: 0.7rem;
  color: #999;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5pt;
}

.filters-input-box section {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.filters-input-box section:last-child {
  border: 0;
}

.readonly label {
  color: #aaa !important;
  margin-bottom: 0;
}

.readonly input,
.readonly select,
.readonly textarea {
  padding-top: 2px !important;
  border: 0 !important;
  padding-left: 0 !important;
  pointer-events: none !important;
  background: none !important;
}

.readonly .input-box .select-icon {
  display: none;
}

.readonly .input-box input::placeholder {
  color: transparent !important;
}

.input-group-text {
  font-size: 0.8rem;
}
